html {
    height : 100%;
}
body {
    color : #212121;
    background-color: #fbfdfc;
    position : relative;
    min-height : 100%;
    padding-bottom : 6rem;
}
header {
    color : #fbfdfc;
    background-color : #212121;
    padding : 12px;
}
footer {
    position : absolute;
    bottom : 0;
    width : 100%;
    color : #bcc2bf;
    background-color : #212121;
    padding-top : 12px;
}
.dark-green-box {
    color : #fbfdfc;
    background-color : #374d42;
    padding : 24px 12px;
}
.grayish-box {
    background-color : #bcc2bf;
    padding : 12px;
}
.white-box {
    background-color: #fbfdfc;
    padding : 24px 12px;
}
.whiteish-box {
    background-color : #edf5f1;
    padding : 12px;
}
.moustache-wizards {
    padding-top : 12px;
    padding-bottom : 24px;
    border-bottom : thin solid;
    border-color : #808080;
}
.pic4ants {
    width : 100%;
    max-width : 400px;
}