html {
    height : 100%;
}
body {
    color : #171b19;
    background-color: #fbfdfc;
    position : relative;
    min-height : 100%;
    padding-bottom : 6rem;
}
header {
    color : #b3b7b5;
    background-color : #171b19;
    padding : 12px;
}
footer {
    position : absolute;
    bottom : 0;
    width : 100%;
    color : #b3b7b5;
    background-color : #171b19;
    padding-top : 12px;
}
.paddington {
    padding-top: 18px;
    padding-bottom: 18px;
}
.dark-green-box {
    color : #fbfdfc;
    background-color : #35493f;
}
.whiteish-box {
    background-color : #dfede6;
}
.moustache-wizards {
    border-bottom : thin solid;
    border-color : #b3b7b5;
}
.img-for-ants {
    width : 100%;
    max-width : 40%;
}
a.header:link, a.header:visited {
    color : #b3b7b5;
}
a.header:hover, a.header:active {
    color : #fbfdfc;
    text-decoration : none;
}
a:link, a:visited {
    color : #171b19;
}
a:hover, a:active {
    color : #589b85;
    text-decoration : none;
}
table.admin-nav {
    width : 360px;
}
.submit-link {
    background-color : transparent;
    border : none;
    color : #b3b7b5;
    cursor : pointer;
}
.submit-link:hover {
    color : #fbfdfc;
}