<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

  <head>
    <title></title>
    <meta charset="UTF-8" />
  </head>

  <body>
    <header th:fragment="admin_nav">
      <table class="container admin-nav" align="center">
        <tr>
          <td>
            <a th:href="@{/news}" class="header">Back to news</a>
          </td>
          <td>
            <a th:href="@{/admin}" class="header">Admin home</a>
          </td>
          <td>
            <form th:method="POST" th:action="@{/logout}">
              <input type="submit" class="submit-link" value="Logout" />
            </form>
          </td>
        </tr>
      </table>
    </header>
  </body>

</html>