<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

  <head>
    <title></title>
    <meta charset="UTF-8" />
  </head>

  <body>
    <header th:fragment="news_nav">
      <div class="container" align="center">
        <a th:href="@{/news}" class="header">Latest</a> | 
        <span th:each="topic : ${topics}">
          <a th:href="@{/news/topics/{id}(id=${topic.id})}" class="header">
            <span th:text="${topic.name}">Topic</span>
          </a> | 
        </span>
        <a th:href="@{/admin}" class="header">Admin</a>
      </div>
    </header>
  </body>

</html>