<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8" />
        <title>tr00news | admin</title>
    </head>

    <body>
        <header th:replace="fragments/admin_nav :: admin_nav">Admin header</header>

        <div>
            <h1>Manage topic</h1>
        </div>

        <div>
            <h2 th:text="${topic.name}">Topic name</h2>

            <form th:method="POST" th:action="@{/admin/topics/{id}(id=${topic.id})}">
                <p>Rename topic: <input type="text" name="name" id="name" th:value="${topic.name}" />
                <input type="submit" value="Update" /></p>
            </form>
        </div>

        <div>
            <h3>Associate article with topic</h3>

            <form th:method="POST" th:action="@{/admin/topics/{id}/articles(id=${topic.id})}">
                <p>Pick article: 
                    <select name="articleId">
                        <option th:each="article : ${articles}" th:value="${article.id}" th:text="${article.headline}">Article</option>
                    </select>
                    <input type="submit" value="Associate" id="add-to-article" />
                </p>
            </form>
        </div>

        <div>
            <h3>Topic is associated to following articles</h3>

            <table>
                <thead>
                    <tr>
                        <th>Article headline</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="article : ${topic.articles}">
                        <td th:text="${article.headline}">Article headline</td>
                        <td><form th:method="DELETE" th:action="@{/admin/topics/{topicId}/articles/{articleId}(topicId=${topic.id},articleId=${article.id})}">
                            <input type="submit" value="Remove" th:id="${'delete-' + topic.id}" />
                        </form></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <p><a th:href="@{/admin}">Back to admin main</a></p>
        </div>

        <footer th:replace="fragments/footer :: footer">Standard footer</footer>
    </body>

</html>