<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8" />
        <title>tr00news | admin</title>
    </head>

    <body>
        <div>
            <h1>Manage author</h1>
        </div>

        <div>
            <h2 th:text="${author.name}">Author name</h2>

            <form th:method="POST" th:action="@{/admin/authors/{id}(id=${author.id})}">
                <p>Rename author: <input type="text" name="name" id="name" th:value="${author.name}" />
                <input type="submit" value="Update" /></p>
            </form>
        </div>

        <div>
            <h3>Assign article to author</h3>

            <form th:method="POST" th:action="@{/admin/authors/{id}/articles(id=${author.id})}">
                <p>Pick article: 
                    <select name="articleId">
                        <option th:each="article : ${articles}" th:value="${article.id}" th:text="${article.headline}">Article</option>
                    </select>
                    <input type="submit" value="Assign" id="add-to-article" />
                </p>
            </form>
        </div>

        <div>
            <h3>Noted as author in following articles</h3>

            <table>
                <thead>
                    <tr>
                        <th>Article headline</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="article : ${author.articles}">
                        <td th:text="${article.headline}">Article headline</td>
                        <td><form th:method="DELETE" th:action="@{/admin/authors/{authorId}/articles/{articleId}(authorId=${author.id},articleId=${article.id})}">
                            <input type="submit" value="Remove" th:id="${'delete-' + article.id}" />
                        </form></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <p><a th:href="@{/admin}">Back to admin main</a></p>
        </div>

        <footer th:replace="fragments/footer :: footer">Standard footer</footer>
    </body>

</html>