<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head lang="en">
        <meta charset="UTF-8" />
        <title>tr00news | Add/edit article</title>
    </head>

    <body>

        <h1>Heavily under construction...</h1>

        <h2>Add article</h2>
        <div th:if="${article == null}">
            <form method="POST" th:action="@{/admin/articles}" enctype="multipart/form-data">
                Headline:<br/>
                <input type="text" name="headline" id="headline" required/><br/>
                Lead paragraph:<br/>
                <textarea name="lead" id="lead" wrap="soft" required></textarea><br/>
                Running text:<br/>
                <textarea name="body" id="body" wrap="soft" required></textarea><br/>
                Picture: <input type="file" name="pic" id="pic" required/><br/>
                <input type="submit" value="Add"/>
            </form>
        </div>

    </body>

</html>