<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8" />
        <title>tr00news | admin</title>
    </head>

    <body>
        <div>
            <h1>Add/edit article</h1>
        </div>

        <section th:if="${article == null}">
            <div>
                <h2>Add article</h2>
            </div>

            <div>
                <form th:method="POST" th:action="@{/admin/articles}" enctype="multipart/form-data">
                    <p>Headline:<br/>
                        <input type="text" name="headline" id="headline" required />
                    </p>
                    <p>Lead paragraph:<br/>
                        <textarea name="lead" id="lead" wrap="soft" rows="5" cols="100" required ></textarea>
                    </p>
                    <p>Running text:<br/>
                        <textarea name="body" id="body" wrap="soft" rows="10" cols="100" required ></textarea>
                    </p>
                    <p>Picture: <input type="file" name="file" id="file" required /></p>
                    <input type="submit" value="Add new article" />
                </form>
            </div>
        </section>

        <section th:if="${article != null}">
            <div>
                <h2>Edit article</h2>
            </div>

            <div>
                <form th:method="POST" th:action="@{/admin/articles/{id}(id=${article.id})}" enctype="multipart/form-data">
                    <p>Headline:<br/>
                        <input type="text" name="headline" id="headline" th:value="${article.headline}" required />
                    </p>
                    <p>Lead paragraph:<br/>
                        <textarea name="lead" id="lead" wrap="soft" rows="5" cols="100" th:text="${article.lead}" required ></textarea>
                    </p>
                    <p>Running text:<br/>
                        <textarea name="body" id="body" wrap="soft" rows="10" cols="100" th:text="${article.body}" required ></textarea>
                    </p>
                    <p>Replace picture: <input type="file" name="file" id="file"/></p>
                    <input type="submit" value="Update article" />
                </form>
            </div>

            <div>
                <p>Current picture:<br/>
                    <img th:if='${article.picture} != null' th:src="@{/pictures/{id}(id=${article.id})}" />
                    <img th:if='${article.picture} == null' th:src="@{/img/default.png}" />
                </p>
            </div>
        </section>

        <div>
            <p><a th:href="@{/admin}">Back to admin main</a></p>
        </div>
    </body>

</html>