<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head lang="en">
        <meta charset="UTF-8" />
        <title>tr00news | add / edit article</title>
    </head>

    <body>

        <h1>Heavily under construction...</h1>

        <section th:if="${article == null}">
            <h2>Add article</h2>

            <div>
                <form method="POST" th:action="@{/articles}" enctype="multipart/form-data">
                    Headline:<br/>
                    <input type="text" name="headline" id="headline" required/><br/>
                    Lead paragraph:<br/>
                    <textarea name="lead" id="lead" wrap="soft" required></textarea><br/>
                    Running text:<br/>
                    <textarea name="body" id="body" wrap="soft" required></textarea><br/>
                    Picture: <input type="file" name="file" id="file" required/><br/>
                    <input type="submit" value="Add new article"/>
                </form>
            </div>
        </section>

        <section th:if="${article != null}">
            <h2>Edit article</h2>

            <div>
                <form method="POST" th:action="@{/articles/{id}(id=${article.id})}" enctype="multipart/form-data">
                    Headline:<br/>
                    <input type="text" name="headline" id="headline" th:value="${article.headline}" required/><br/>
                    Lead paragraph:<br/>
                    <textarea name="lead" id="lead" wrap="soft" th:text="${article.lead}" required></textarea><br/>
                    Running text:<br/>
                    <textarea name="body" id="body" wrap="soft" th:text="${article.body}" required></textarea><br/>
                    Replace picture: <input type="file" name="file" id="file"/><br/>
                    <input type="submit" value="Update article"/>
                </form>
            </div>
            <div>
                Current picture:<br/>
                <img th:if='${article.picture} != null' th:src="@{/articles/{id}/picture(id=${article.id})}"/><br/>
                <img th:if='${article.picture} == null' th:src="@{/img/default.png}"/><br/>
            </div>
        </section>

        <section>
            <a th:href="@{/admin}">Back to admin main</a>
        </section>

    </body>

</html>