<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>tr00news | be tr00 -- resolutely reject fake news and alternative truths</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
  </head>

  <body>
    <header th:replace="fragments/news_nav :: news_nav">News header</header>

    <div class="dark-green-box">
      <h1 class="container">tr00news</h1>
    </div>

    <section class="white-box">
      <div th:each="article : ${articles}" class="media container moustache-wizards">
        <img th:if='${article.picture} != null' th:src="@{/pictures/{id}(id=${article.id})}" class="mr-4 pic4ants" />
        <img th:if='${article.picture} == null' th:src="@{/img/default.png}" class="pic4ants mr-4 " />
          <a th:href="@{/news/{id}/(id=${article.id})}">
            <div class="media-body">
              <h4 th:text="${article.headline}">Headline</h4>
              <p th:text="${article.lead}" class="lead">Lead paragraph</p>
            </div>
          </a>
        </div>
      </section>

      <footer th:replace="fragments/footer :: footer">Standard footer</footer>
  </body>

</html>
