<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>tr00news | be tr00 -- resolutely reject fake news and alternative truths</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
  </head>

  <body>
    <header th:replace="fragments/news_nav :: news_nav">News header</header>

    <div class="dark-green-box paddington">
      <h1 class="container">tr00news | <span th:text="${topic.name}">Topic</span></h1>
    </div>

    <section class="paddington">
      <div th:each="article : ${articles}" class="container">
        <div class="moustache-wizards paddington">
          <a th:href="@{/news/{id}/(id=${article.id})}">
            <h4 th:text="${article.headline}">Headline</h4>
            <small th:text="${article.date}">Published on</small>
            <p th:text="${article.lead}" class="lead">Lead paragraph</p>
          </a>
        </div>
      </div>
    </section>

    <div th:replace="fragments/news_recommended :: news_recommended">Recommendations</div>
    <footer th:replace="fragments/footer :: footer">Standard footer</footer>
  </body>

</html>