<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8" />
        <title>tr00news | be tr00 -- resolutely reject fake news and alternative truths</title>
    </head>

    <body>
        <div>
            <h1>tr00news</h1>
        </div>

        <div>
            <h2>Latest news</h2>
        </div>

        <div th:each="article : ${articles}">
            <a th:href="@{/news/{id}/(id=${article.id})}">
                <h3 th:text="${article.headline}">Headline</h3>
            </a>
            <p>
                <img th:if='${article.picture} != null' th:src="@{/pictures/{id}(id=${article.id})}" />
                <img th:if='${article.picture} == null' th:src="@{/img/default.png}" />
            </p>
            <p th:text="${article.lead}">Lead paragraph</p>
        </div>
    </body>

</html>